/* Basic styles that should apply everywhere */
body
  background-color: $flash-white
  color: $jet
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  margin: 0
  user-select: none
  font-family: monospace
  font-size: 14px

  @media (max-width: 550px), (max-height: 440px)
    font-size: 11px


svg,
img
  max-width: 1000px

.all-traversals
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 95vw
  max-width: 500px

  h2
    text-align: center
    align-self: center
    margin: 10px 0 0

.traversal-label
  font-weight: bold

.muted
  color: lighten($jet, 30%)

.help
  margin: 0
  align-self: center

#traversal
  stroke-dasharray: 850px
  stroke-dashoffset: 850px
  transition: 1s ease-out

  // Hovering over each link will set a unique class
  // The class determines how long the line should be
  $map: (animate-github: 673, animate-gitlab: 533, animate-linkedin: 292, animate-resume: 155)

  @each $key, $val in $map
    &.#{$key}
      stroke-dashoffset: #{$val}
