/* Basic styles that should apply everywhere */
body
  background-color: $flash-white
  color: $jet
  display: flex
  justify-content: center
  align-content: center
  height: 100vh
  margin: 0
  padding: 0 0 0 30px

object
  width: 100vw
  max-width: 1200px
