{% extends "oceanic-zen/templates/index.html" %}
{% block css %}
{% if config.build_search_index %}
<script defer type="text/javascript" src="{{ get_url(path=" elasticlunr.min.js") }}"></script>
<script defer type="text/javascript" src="{{ get_url(path=" search_index.en.js") }}"></script>
{% endif %}
{% block rss %}
<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
{% endblock %}
<meta name="image" content="https://www.macchaffee.com/static/favicon.png">
<meta property="og:image" content="https://www.macchaffee.com/static/favicon.png">
<meta name="theme-color" content="#ECEBF3">
<link rel="shortcut icon" href="/static/favicon.png" type="image/png">
{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
{% endif %}
{% if config.description -%}
<meta property="og:description" content="{{ config.description }}">
{% endif %}
<link rel="stylesheet" href="{{ get_url(path="theme.css", trailing_slash=false) | safe }}">
<style>
body {
    font: 400 18px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #dbe0ea;
}
h1 {
    font-size: 47px;
}
ul {
    list-style: disc outside;
    padding-left: 1.5em;
}
code {
    font-family: monospace;
    font-size: 16px;
}
.search-box {
    background-color: #101a20;
    border: 2px solid #36596c;
    font-size: 20px;
    line-height: 2;
    color: #c0c5ce;
    margin-top: 10px;
}
/* Overrides */
p {
  text-align: left;
}
p > code {
  font-weight: normal;
  padding: 1px 5px;
  color: #a7adba;
  background-color: #101a20;
}
h2 {
    font-size: 24px;
    border-bottom:1px solid #99c794;
}
blockquote {
    color: #a7adba;
    font-style: italic;
}
</style>
{% endblock css %}
{% block footer %}
    <div class="border"></div>
    <div class="footer">
        {% if config.build_search_index %}
        <div>
            <input class="search-box" type="text" placeholder="Search"></input>
        </div>
        {% endif %}
        <div>
            <a href="/">Home</a>
        </div>
    </div>
{% endblock footer %}
