{% extends "oceanic-zen/templates/index.html" %}
{% block css %}
{% if config.build_search_index %}
<script defer type="text/javascript" src="{{ get_url(path=" elasticlunr.min.js") }}"></script>
<script defer type="text/javascript" src="{{ get_url(path=" search_index.en.js") }}"></script>
{% endif %}
{% block rss %}
<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
{% endblock %}
<meta name="image" content="https://www.macchaffee.com/static/favicon.png">
<meta property="og:image" content="https://www.macchaffee.com/static/favicon.png">
<meta name="theme-color" content="#1b2b34">
<link rel="shortcut icon" href="/static/favicon.png" type="image/png">
{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
{% endif %}
{% if config.description -%}
<meta property="og:description" content="{{ config.description }}">
{% endif %}
<link rel="stylesheet" href="{{ get_url(path="theme.css", trailing_slash=false) | safe }}">
{% endblock css %}
{% block footer %}
    <div class="border"></div>
    <div class="footer">
        <div>
            <a href="/">Home</a>
        </div>
        <p xmlns:cc="http://creativecommons.org/ns#">This work is licensed under <a
                href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"
                rel="license noopener noreferrer">CC BY-SA 4.0</a></p>
    </div>
{% endblock footer %}
